header {
  height: 100px;
  min-width: 1200px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
.container .logo img {
  height: 60px;
}
.container .list ul {
  list-style: none;
}
.container .list ul li {
  display: inline;
  margin-left: 15px;
}
.container .list ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #464646;
}

footer {
  height: 400px;
  background-image: url(../img/footer-bg.jpg);
  display: flex;
  min-width: 1200px;
}
footer .logo {
  background-image: url(../img/dc-logo-bg.png);
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position-y: -100px;
}
footer .container {
  margin-left: 120px;
  width: 1000px;
}

.colonna {
  margin-top: 30px;
  width: 33%;
  float: left;
}
.colonna h2 {
  color: white;
  margin: 15px 0;
  font-size: 18px;
}
.colonna ul {
  list-style: none;
}
.colonna ul li a {
  color: #959595;
  text-decoration: none;
  font-size: 12px;
  line-height: 12px;
}

section {
  background-color: #303030;
  height: 100px;
  width: 100%;
  min-width: 1200px;
}
section .container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border: 2px solid #1A87FF;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
}
.icons h4 {
  color: #1A87FF;
  margin-right: 20px;
  font-size: 15px;
  cursor: pointer;
}
.icons img {
  height: 30px;
  width: 30px;
  margin-right: 15px;
  cursor: pointer;
}

main.comics {
  width: 100%;
  height: 500px;
  background-color: #1C1C1C;
  min-width: 1200px;
}
main.comics .container {
  width: 80%;
  height: 500px;
  margin: auto;
}
main.comics .container-photo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main.comics .box {
  width: calc(100%/6);
  margin-top: 40px;
}
main.comics .box-img {
  max-height: 150px;
  overflow: hidden;
}
main.comics img {
  width: 150px;
  background-color: bisque;
}
main.comics h3 {
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  width: 150px;
  word-break: break-all;
}
main.comics button {
  background-color: #1882F9;
  border: none;
  color: white;
  padding: 10px 50px;
  font-size: 10px;
  margin-top: 25px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}